<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>SimpleCaptcha</servlet-name>
        <servlet-class>nl.captcha.servlet.SimpleCaptchaServlet</servlet-class>
        <init-param>
            <param-name>captcha-width</param-name>
            <param-value>300</param-value>
        </init-param>
        <init-param>
            <param-name>captcha-height</param-name>
            <param-value>100</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>ComprobarServlet</servlet-name>
        <servlet-class>es.unirioja.servlet.ComprobarServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SimpleCaptcha</servlet-name>
        <url-pattern>/simpleCaptcha.png</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ComprobarServlet</servlet-name>
        <url-pattern>/comprobar</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
